td{
  text-align: center;
  border: 5px solid #0A1D37;
  width: 150px;
  height: 150px;
  font-size: 100px;
  background-color: #FFD8CC;
  color: #0A1D37;
}
.jumbotron{
  padding: 10px;
  background-color: #0A1D37;
}
body{
  background-color: #0A1D37;
  text-align: center;
}
h1,p{
  color:#FFBD9B;
}
.btn{
  background-color:white;
}
h2{
  color: white;
}
